.hero {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(248, 248, 248);
  height: 80vh;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.hero::before {
  content: "";
  background: url("../../assets/car.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.35; */
  z-index: -1;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

.hero h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
}

.hero p {
  font-size: 1.2rem;
  margin: 1.5rem;
}

.search {
  display: flex;
  background-color: rgb(248, 248, 248);
  color: black;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  border: 1px solid rgb(248, 248, 248);
  border-radius: 7px;
}

.search input[type="text"] {
  border: transparent;
  font-size: 1.2rem;
  width: 400px;
  outline: none;
  background-color: rgb(248, 248, 248);
}

.search .radio-btn {
  display: flex;
  align-items: center;
}
.search label {
  padding: 0 7px;
}

.search button {
  cursor: pointer;
  border: none;
  background-color: rgb(30, 120, 145);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  border-radius: 7px;
  padding: 10px;
}

@media (max-width: 940px) {
  .hero {
    height: 70vh;
  }
  .hero h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
  }

  .search input[type="text"] {
    width: 100%;
  }
}
