body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grids {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  aspect-ratio: 1 / 1.5;
  border: 3px solid hotpink;
}

.card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__content {
  background-color: white;
  align-self: end;
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 500px) {
}
@media (min-width: 940px) {
}
